#editor.modal.fade(role="dialog" aria-labelledby="editor-modal-title" aria-hidden="true")
	.modal-dialog.modal-xl(role="document")
		.modal-content
			.modal-header
				.row.w-100
					h5.modal-title.col-2(id="editor-modal-title") 問題を編集
					input#problems-title.text-editable.col-6(v-model="title" type="text" placeholder="タイトルを入力…")
					.col-3.text-center: a.btn.btn-primary.col-4(href="#" download="problems.txt" onclick="href = editor.link") 保存
				button.btn.close(type="button" data-dismiss="modal" aria-label="Close"): span(aria-hidden="true") &times;

			.modal-body
				.container-fluid
					#editor-problems.row
						.alert.alert-secondary.w-100(v-for="problem in problems")
							.row: textarea.text-editable.col-12(v-model="problem.question" placeholder="問題を入力…")
							.row
								.col-12(v-for="answer in problem.answers")
									.alert.w-100(:class="{'alert-success': answer.isCorrect, 'alert-warning': !answer.isCorrect}")
										.row
											.col-2: a.btn(:class="{'btn-success': answer.isCorrect, 'btn-warning': !answer.isCorrect}" @click="answer.isCorrect = !answer.isCorrect") {{ answer.isCorrect ? "○" : "×" }}
											textarea.text-editable.col-10(v-model="answer.text" placeholder="答えを入力…")


					.row: button#editor-btn-add-problem.btn.btn-success.col-12(type="button" @click="addProblem") +