#root {
  font-size: 2rem; }

#info-bar {
  background-color: #eee;
  font-family: monospace; }

#text-question {
  font-size: 3rem;
  white-space: pre-wrap; }

#answers button {
  margin: 0.2rem 0;
  font-size: 2.4rem;
  white-space: pre-wrap; }

.answer-indicator {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 2em;
  height: 1em;
  border-radius: 0.1em;
  pointer-events: none;
  color: white;
  text-align: center;
  font: 900 20vw monospace; }

.mark-ac {
  display: inline;
  margin: 0.1rem;
  border-radius: 0.2rem;
  padding: 0.1rem;
  background-color: rgba(100, 238, 100, 0.5);
  font: 900 2rem monospace;
  color: white; }

.mark-wa {
  display: inline;
  margin: 0.1rem;
  border-radius: 0.2rem;
  padding: 0.1rem;
  background-color: rgba(250, 244, 80, 0.5);
  font: 900 2rem monospace;
  color: white; }

#indicator-ac {
  background-color: rgba(144, 238, 144, 0.5); }

#indicator-wa {
  background-color: rgba(250, 244, 140, 0.5); }

.wrong-answer {
  animation: wrong-answer 1s ease-out; }

@keyframes wrong-answer {
  0% {
    background-color: orange; }
  100% {
    background-color: white; } }

.accepted {
  animation: accepted 1s ease-out; }

@keyframes accepted {
  0% {
    background-color: lightgreen; }
  100% {
    background-color: white; } }

.editable {
  font: inherit;
  background: inherit; }
