<!doctype html>
<html lang="ja">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Combinatorics Calculator</title>
    <meta name="twitter:card" content="summary">
    <meta property="og:title" content="Combinatorics Calculator">
    <meta property="og:description" content="順列、二項係数、分割数など">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/katex@0.15.1/dist/katex.min.css" integrity="sha384-R4558gYOUz8mP9YWpZJjofhk+zx0AS11p36HnD2ZKj/6JR5z27gSSULCNHIRReVs" crossorigin="anonymous">
  </head>
  <body>
    <form id="app" class="container">
      <div class="row">
        <fieldset class="col-12">
          <legend>設定</legend>
          <div class="input-group mb-3">
            <div class="input-group-text">
              <div class="form-check">
                <input id="use-modulus" v-model="useModulus" type="checkbox" class="form-check-input">
              </div>
              <label for="use-modulus">MOD</label>
            </div>
            <input id="modulus" v-model="modulusText" list="modulo" :disabled="!useModulus" type="text" class="form-control font-monospace">
          </div>
        </fieldset>
      </div>

      <fieldset class="col-12">
        <legend>写像12相</legend>
        <p class="text-math">$k$ 個の箱に $n$ 個のボールを入れる場合の数。箱を区別するか、ボールを区別するか、箱に入るボールの個数が $0, 1$ か $1$ 個以上か制限なしかで $12$ 種類ある。</p>
        <div class="mb-3">
          <div class="input-group">
            <label for="twelvefold-way-k" class="input-group-text math">k = </label>
            <input id="twelvefold-way-k" v-model="twelvefoldWayKText" type="text" class="form-control font-monospace">
            <label for="twelvefold-way-n" class="input-group-text math">n = </label>
            <input id="twelvefold-way-n" v-model="twelvefoldWayNText" type="text" class="form-control font-monospace">
          </div>
        </div>
        <table class="table">
          <thead>
            <tr><th>箱</th><th>ボール</th><th class="math">0, 1</th><th>制限なし</th><th class="text-math">$1$ 個以上</th></tr>
          </thead>
          <tbody>
            <tr>
              <th>区別する</th><th>区別する</th>
              <td><div class="input-group"><label for="twelvefold-way-dd01" class="input-group-text math">{_k}{\rm P}{_n}</label><input id="twelvefold-way-dd01" :value="twelvefoldWayDD01" type="text" class="form-control font-monospace" readonly></div></td>
              <td><div class="input-group"><label for="twelvefold-way-dd" class="input-group-text math">k^n</label><input id="twelvefold-way-dd" :value="twelvefoldWayDD" type="text" class="form-control font-monospace" readonly></div></td>
              <td><div class="input-group"><label for="twelvefold-way-dd1p" class="input-group-text math">k! \left\{{n \atop k}\right\}</label><input id="twelvefold-way-dd1p" :value="twelvefoldWayDD1p" type="text" class="form-control font-monospace" readonly></div></div></td>
            </tr>
            <tr>
              <th>区別する</th><th>区別しない</th>
              <td><div class="input-group"><label for="twelvefold-way-du01" class="input-group-text math">{_k}{\rm C}{_n}</label><input id="twelvefold-way-du01" :value="twelvefoldWayDU01" type="text" class="form-control font-monospace" readonly></div></td>
              <td><div class="input-group"><label for="twelvefold-way-du" class="input-group-text math">{_k}{\rm H}{_n}</label><input id="twelvefold-way-du" :value="twelvefoldWayDU" type="text" class="form-control font-monospace" readonly></div></td>
              <td><div class="input-group"><label for="twelvefold-way-du1p" class="input-group-text math">{_{k - 1}}{\rm C}{_{n - 1}}</label><input id="twelvefold-way-du1p" :value="twelvefoldWayDU1p" type="text" class="form-control font-monospace" readonly></div></td>
            </tr>
            <tr>
              <th>区別しない</th><th>区別する</th>
              <td><div class="input-group"><label for="twelvefold-way-ud01" class="input-group-text math">k \ge n</label><input id="twelvefold-way-ud01" :value="twelvefoldWayUD01" type="text" class="form-control font-monospace" readonly></div></td>
              <td><div class="input-group"><label for="twelvefold-way-ud" class="input-group-text math">B(n, k)</label><input id="twelvefold-way-ud" :value="twelvefoldWayUD" type="text" class="form-control font-monospace" readonly></div></td>
              <td><div class="input-group"><label for="twelvefold-way-ud1p" class="input-group-text math">\left\{{n \atop k}\right\}</label><input id="twelvefold-way-ud1p" :value="twelvefoldWayUD1p" type="text" class="form-control font-monospace" readonly></div></td>
            </tr>
            <tr>
              <th>区別しない</th><th>区別しない</th>
              <td><div class="input-group"><label for="twelvefold-way-uu01" class="input-group-text math">k \ge n</label><input id="twelvefold-way-uu01" :value="twelvefoldWayUU01" type="text" class="form-control font-monospace" readonly></div></td>
              <td><div class="input-group"><label for="twelvefold-way-uu" class="input-group-text math">p_k(n)</label><input id="twelvefold-way-uu" :value="twelvefoldWayUU" type="text" class="form-control font-monospace" readonly></div></td>
              <td><div class="input-group"><label for="twelvefold-way-uu1p" class="input-group-text math">p_k(n - k)</label><input id="twelvefold-way-uu1p" :value="twelvefoldWayUU1p" type="text" class="form-control font-monospace" readonly></div></td>
            </tr>
          </tbody>
        </table>
      </fieldset>

      <div class="row">
        <fieldset class="col-12 col-md-6">
          <legend>累乗</legend>
          <div class="mb-3">
            <label class="form-label text-math">$n^r$ 累乗・重複順列: $O(\log r)$</label>
            <div class="input-group">
              <label for="power-n" class="input-group-text math">n = </label>
              <input id="power-n" v-model="powerNText" type="text" class="form-control font-monospace">
              <label for="power-r" class="input-group-text math">r = </label>
              <input id="power-r" v-model="powerRText" type="text" class="form-control font-monospace">
              <label for="power" class="input-group-text math">n^r = </label>
              <input id="power" :value="power" type="text" class="form-control font-monospace" readonly>
            </div>
          </div>
          <div class="mb-3">
            <label class="form-label text-math">$n^{-1}$ 逆元: $O(\log r)$</label>
            <div class="input-group">
              <label for="inv-n" class="input-group-text math">n = </label>
              <input id="inv-n" v-model="invNText" type="text" class="form-control font-monospace">
              <label for="inv" class="input-group-text math">n^{-1} = </label>
              <input id="inv" :value="inv" type="text" class="form-control font-monospace" readonly>
            </div>
          </div>
        </fieldset>

        <fieldset class="col-12 col-md-6">
          <legend>階乗</legend>
          <div class="mb-3">
            <label class="form-label text-math">$n!$ 階乗: $O(n)$</label>
            <div class="input-group">
              <label for="factorial-n" class="input-group-text math">n = </label>
              <input id="factorial-n" v-model="factorialNText" type="text" class="form-control font-monospace">
              <label for="factorial" class="input-group-text math">n! = </label>
              <input id="factorial" :value="factorial" type="text" class="form-control font-monospace" readonly>
            </div>
          </div>

          <div class="mb-3">
            <label class="form-label text-math">${_n}{\rm P}{_r}$ 順列: $O(r)$</label>
            <div class="input-group">
              <label for="permutation-n" class="input-group-text math">n = </label>
              <input id="permutation-n" v-model="permutationNText" type="text" class="form-control font-monospace">
              <label for="permutation-r" class="input-group-text math">r = </label>
              <input id="permutation-r" v-model="permutationRText" type="text" class="form-control font-monospace">
              <label for="permutation" class="input-group-text math">{_n}{\rm P}{_r} = </label>
              <input id="permutation" :value="permutation" type="text" class="form-control font-monospace" readonly>
            </div>
          </div>

          <div class="mb-3">
            <label class="form-label text-math">${_n}{\rm C}{_r}$ 二項係数・組合せ: $O(r)$</label>
            <div class="input-group">
              <label for="binomial-n" class="input-group-text math">n = </label>
              <input id="binomial-n" v-model="binomialNText" type="text" class="form-control font-monospace">
              <label for="binomial-r" class="input-group-text math">r = </label>
              <input id="binomial-r" v-model="binomialRText" type="text" class="form-control font-monospace">
              <label for="binomial" class="input-group-text math">{_n}{\rm C}{_r} = </label>
              <input id="binomial" :value="binomial" type="text" class="form-control font-monospace" readonly>
            </div>
          </div>

          <div class="mb-3">
            <label class="form-label text-math">${_n}{\rm H}{_r}$重複組合せ: $O(r)$</label>
            <div class="input-group">
              <label for="homo-n" class="input-group-text math">n = </label>
              <input id="homo-n" v-model="homoNText" type="text" class="form-control font-monospace">
              <label for="homo-r" class="input-group-text math">r = </label>
              <input id="homo-r" v-model="homoRText" type="text" class="form-control font-monospace">
              <label for="homo" class="input-group-text math">{_n}{\rm H}{_r} = </label>
              <input id="homo" :value="homo" type="text" class="form-control font-monospace" readonly>
            </div>
          </div>
        </fieldset>

        <fieldset class="col-12 col-md-6">
          <legend>分割数</legend>
          <div class="mb-3">
            <label class="form-label text-math">$p(n)$ 分割数（正整数 $n$ を $1$ 個以上の正整数の和で表す方法の数）: $O(n^2)$</label>
            <div class="input-group">
              <label for="partition-n" class="input-group-text math">n = </label>
              <input id="partition-n" v-model="partitionNText" type="text" class="form-control font-monospace">
              <label for="partition" class="input-group-text math">p(n) = </label>
              <input id="partition" :value="partition" type="text" class="form-control font-monospace" readonly>
            </div>
          </div>

          <div class="mb-3">
            <label class="form-label text-math">$p_k(n)$ 正整数 $n$ を $k$ 個の正整数の和で表す方法の数: $O(nk)$</label>
            <div class="input-group">
              <label for="partition2-n" class="input-group-text math">n = </label>
              <input id="partition2-n" v-model="partition2NText" type="text" class="form-control font-monospace">
              <label for="partition2-k" class="input-group-text math">k = </label>
              <input id="partition2-k" v-model="partition2KText" type="text" class="form-control font-monospace">
              <label for="partition2" class="input-group-text math">p_k(n) = </label>
              <input id="partition2" :value="partition2" type="text" class="form-control font-monospace" readonly>
            </div>
          </div>

          <div class="mb-3">
            <label class="form-label text-math">$p_{\le k}(n)$ 正整数 $n$ を $k$ 個<strong>以下</strong>の正整数の和で表す方法の数: $O(nk)$</label>
            <div class="input-group">
              <label for="partition2le-n" class="input-group-text math">n = </label>
              <input id="partition2le-n" v-model="partition2leNText" type="text" class="form-control font-monospace">
              <label for="partition2le-k" class="input-group-text math">k = </label>
              <input id="partition2le-k" v-model="partition2leKText" type="text" class="form-control font-monospace">
              <label for="partition2le" class="input-group-text math">p_{\le k}(n) = </label>
              <input id="partition2le" :value="partition2le" type="text" class="form-control font-monospace" readonly>
            </div>
          </div>
        </fieldset>

        <fieldset class="col-12 col-md-6">
          <legend>ベル数</legend>
          <div class="mb-3">
            <label class="form-label text-math">$B_n$ ベル数（区別できる $n$ 個のボールをいくつかのグループに分割する場合の数）: $O(n \log n)$</label>
            <div class="input-group">
              <label for="bell-n" class="input-group-text math">n = </label>
              <input id="bell-n" v-model="bellNText" type="text" class="form-control font-monospace">
              <label for="bell" class="input-group-text math">B_n = </label>
              <input id="bell" :value="bell" type="text" class="form-control font-monospace" readonly>
            </div>
          </div>
            <label class="form-label text-math">$B(n, k)$ ベル数（区別できる $n$ 個のボールを区別できない $k$ 個以下の箱に分割する場合の数）: $O(\min(n, k) \log n)$</label>
            <div class="input-group">
              <label for="bell2-n" class="input-group-text math">n = </label>
              <input id="bell2-n" v-model="bell2NText" type="text" class="form-control font-monospace">
              <label for="bell2-k" class="input-group-text math">k = </label>
              <input id="bell2-k" v-model="bell2KText" type="text" class="form-control font-monospace">
              <label for="bell2" class="input-group-text math">B(n, k) = </label>
              <input id="bell2" :value="bell2" type="text" class="form-control font-monospace" readonly>
            </div>
          </div>
        </fieldset>

        <fieldset class="col-12 col-md-6">
          <legend>スターリング数</legend>
          <div class="mb-3">
            <label class="form-label text-math">$\left\{{n \atop k}\right\}$ 第2種スターリング数: $O(k \log n)$</label>
            <div class="input-group">
              <label for="stirling2nd-n" class="input-group-text math">n = </label>
              <input id="stirling2nd-n" v-model="stirling2ndNText" type="text" class="form-control font-monospace">
              <label for="stirling2nd-k" class="input-group-text math">k = </label>
              <input id="stirling2nd-k" v-model="stirling2ndKText" type="text" class="form-control font-monospace">
              <label for="stirling2nd" class="input-group-text math">\left\{{n \atop k}\right\} = </label>
              <input id="stirling2nd" :value="stirling2nd" type="text" class="form-control font-monospace" readonly>
            </div>
          </div>
          <div class="mb-3">
            <label class="form-label text-math">$k! \left\{{n \atop k}\right\}$ （区別できる $n$ 個のボールを区別できる $k$ 個の箱にそれぞれ $1$ 個以上振り分ける場合の数）: $O(k \log n)$</label>
            <div class="input-group">
              <label for="stirling2ndFact-n" class="input-group-text math">n = </label>
              <input id="stirling2ndFact-n" v-model="stirling2ndFactNText" type="text" class="form-control font-monospace">
              <label for="stirling2ndFact-k" class="input-group-text math">k = </label>
              <input id="stirling2ndFact-k" v-model="stirling2ndFactKText" type="text" class="form-control font-monospace">
              <label for="stirling2ndFact" class="input-group-text math">k! \left\{{n \atop k}\right\} = </label>
              <input id="stirling2ndFact" :value="stirling2ndFact" type="text" class="form-control font-monospace" readonly>
            </div>
          </div>
        </fieldset>
      </div>
    </form>

    <datalist id="modulo">
      <option value="1000000007">
      <option value="998244353">
      <option value="754974721">
      <option value="469762049">
      <option value="167772161">
    </datalist>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW" crossorigin="anonymous"></script>
	  <script src="https://cdn.jsdelivr.net/npm/vue@2.6.14/dist/vue.min.js" integrity="sha256-kXTEJcRFN330VirZFl6gj9+UM6gIKW195fYZeR3xDhc=" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/katex@0.15.1/dist/katex.min.js" integrity="sha384-z1fJDqw8ZApjGO3/unPWUPsIymfsJmyrDVWC8Tv/a1HeOtGmkwNd/7xUS0Xcnvsx" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/katex@0.15.1/dist/contrib/auto-render.min.js" integrity="sha384-+XBljXPPiv+OzfbB3cVmLHf4hdUFHlWNZN5spNQ7rmHTXpd7WvJum6fIACpNNfIR" crossorigin="anonymous"></script>
    <script>
for (const el of document.querySelectorAll(".math")) {
  katex.render(el.textContent, el, {
    throwOnError: false,
  });
}
for (const el of document.querySelectorAll(".text-math")) {
  renderMathInElement(el, {
    delimiters: [
      { left: "$", right: "$", display: false },
      { left: "$$", right: "$$", display: true },
      { left: "\\(", right: "\\)", display: false },
      { left: "\\[", right: "\\]", display: true },
    ],
    throwOnError: false,
  });
}
    </script>
    <script src="./comcal.js"></script>
  </body>
</html>